@import '../settings/_settings';
@import '../settings/_colors';

.is-title {
    font-family: $default-font-family;
    padding: 0;
    margin: 0;

    &.is-1 {
        font-size: 30px;
        line-height: 36px;
        font-weight: 300;
    }

    &.is-2 {
        font-size: 24px;
        line-height: 30px;
    }

    &.is-3 {
        font-size: 20px;
        line-height: 28px;
        font-weight: 400;
    }

    &.is-4 {
        font-size: 18px;
        line-height: 26px;
    }

    &.is-5 {
        font-size: 16px;
        line-height: 24px;
    }

    &.is-6 {
        font-size: 14px;
        line-height: 20px;
    }
}