<section>
  <div class="row">
    <div class="col-12">
      <div class="media flex-wrap">
        <div class="media-body">
          <h3 class="mt-0">This is Stefan Nieuwenhuis</h3>
          <p>Hi there! My name is Stefan Nieuwenhuis and I'm software engineer at <a href="https://bol.com"
                                                                                     target="_blank"
                                                                                     rel="noreferrer noopener">bol.com</a>,
            the largest online retailer in The Netherlands and
            Belgium. I love to play sports, read books and occasionally jump out of planes (with a parachute that is).
          </p>
          <p>Outside my work I speak at <a href="https://speakerdeck.com/stefannhs" target="_blank"
                                           rel="noreferrer noopener">conferences</a> and I <a
            href="https://medium.com/@stefannhs" target="_blank" rel="noreferrer noopener">write</a> technical articles
            about topics like Angular, StencilJs and JavaScript.</p>
        </div>
        <img src="assets/aboutme.jpg" class="img-fluid align-self-start ml-md-3 ml-lg-3 mb-3 profile-picture"
             alt="Hello! I'm Stefan Nieuwenhuis"/>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="media flex-wrap">
        <img src="assets/reactiveconf18.jpeg" class="img-fluid align-self-start mr-3 profile-picture" alt="Giving a talk at ReactiveConf 2018"/>
        <div class="media-body">
          <h3>Let's get in touch</h3>
          <p>I'd love to get in touch with you. Send me a <a href="https://twitter.com/stefannhs" target="_blank"
                                                             rel="noreferrer noopener">tweet</a> or direct message on
            Twitter, make a connection on <a href="https://www.linkedin.com/in/stefannhs" target="_blank"
                                             rel="noreferrer noopener">LinkedIn</a> or just ping me a message via <a
              href="mailto:stefannhs@gmail.com">mail</a>.</p>

        </div>
      </div>
    </div>
  </div>
</section>
