<h3>Admin</h3>
<div class="row mb-3">
    <div class="col-12">
        <ul class="nav nav-pills">
            <li class="nav-item" *ngFor="let item of menuItems">
                <a 
                routerLink="{{item.routerLink}}" 
                title="{{item.title}}" 
                class="nav-link" 
                routerLinkActive="active"
                [routerLinkActiveOptions]="{exact:true}">{{item.label}}</a>
            </li>
            <li class="nav-item">
                <a href="javascript:;" class="nav-link" (click)="onLogout()">Logout</a>
            </li>
        </ul>
    </div>
</div>

<router-outlet></router-outlet>