<div class="modal fade" [ngClass]="{'show': showDialog}">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Delete post</h5>
          <button type="button" class="close" (click)="onCancelConfirmDeletionDialog()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Are you sure you want to delete this post?
          <ul>
            <li>Title: {{selectedPost?.title}}</li>
            <li>Author: {{selectedPost?.author.name}}</li>
          </ul>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" (click)="deletePost(selectedPost?.id)">Yes</button>
          <button type="button" class="btn btn-danger" (click)="onCancelConfirmDeletionDialog()">Cancel</button>
        </div>
      </div>
    </div>
  </div>

<div class="row">
  <div class="col-12">
    <div class="list-group">
      <div class="list-group-item" *ngFor="let post of posts; index as idx">
        <div class="d-flex w-100 justify-content-between">
          <h5>{{post.title}}</h5>
          <div class="dropdown">
            <button class="btn btn-primary btn-sm dropdown-toggle" (click)="setCurrentIndex(idx)">Actions</button>
            <div class="dropdown-menu" [class.show]="currentIndex === idx">
              <a [routerLink]="['/admin/edit-post', post.id]" class="dropdown-item">edit</a>
              <a href="javascript:;" class="dropdown-item" (click)="confirmDeletion(idx)">delete</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>