@import '~bootstrap/scss/bootstrap.scss';

html {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.post-image {
  border-radius: 5px;
  margin-bottom: 1rem;
}


.blockquote{
  border-left: .2em solid #dfe2e5;
  padding: 0.1em 1em;
}
